<div class="image-wallpaper">
  <h1 class="title">Hogwarts School Portal</h1>
</div>
<div class="container">
  <div class="row">
    <div class="col-12 col-sm-4 mb-3">
      <div class="d-flex justify-content-center">
        <app-home-card
          [title]="'CHARACTERS'"
          [imagePath]="'assets/images/characters.jpg'"
          [routeLink]="'characters'"
        ></app-home-card>
      </div>
    </div>
    <div class="col-12 col-sm-4 mb-3">
      <div class="d-flex justify-content-center">
        <app-home-card
          [title]="'STUDENTS'"
          [imagePath]="'assets/images/students.jpg'"
          [routeLink]="'students'"
        ></app-home-card>
      </div>
    </div>
    <div class="col-12 col-sm-4 mb-3">
      <div class="d-flex justify-content-center">
        <app-home-card
          [title]="'TEACHERS'"
          [imagePath]="'assets/images/teachers.jpg'"
          [routeLink]="'teachers'"
        ></app-home-card>
      </div>
    </div>
  </div>
</div>
